
<script>

  var assetsUrl = '<%= assetsPath %>';
  var imgHost = '<%= imgHost%>';
  var domain = commonApi = '<%= domainPath%>';
  var loginDomain = '<%= loginDomain %>';
  var domainCrm = '<%= domainCrm%>';  

  //英文正则
  var regEnCode = /^[A-Za-z0-9\s \~\!\@#$\%\^\&\*\(\)\_\+\=\-\`\<\>\|\{\}\]\[\\\/\?\:\;\.\,\'\"]+$/i;
</script>
<script type="text/javascript" src="<%= assetsPath %>/global/js/require-config.min.js"></script>
<script type="text/javascript" src="<%= assetsPath %>/global/js/global.js"></script>
<script type="text/javascript" src="<%= assetsPath %>/global/js/cmsHead.js"></script>

