<!DOCTYPE html>
<html>
<head>
	<% include ./block/head.html %>
	<link rel="stylesheet" type="text/css" href="<%= assetsPath %>/cms/css/business.css">
</head>
<body>
	<% include ./components/header.html %>
	<div class="uk-container-center">
		<div class="uk-panel">
			<img src="<%= assetsPath %>/global/images/index_learn_more/business_banner.jpg">
			<div class="business-banner-text">
				<h1>Business Matching</h1>
				<p><i class="lh-icon-yield-curve"></i>Worry-free to develop your business</p>
			</div>
		</div>
		<div class="uk-panel">
			<div class="uk-container-cneter">
				<h1 class="uk-h2 uk-text-center">About Mr-world.com business matching</h2>
				<p class="uk-text-center">Mr-world.com Business Matching is a customized suite of integrated matching services dedicated to helping global customers identify and screen potential Chinese suppliers. The service draws on the Canton Fair more than 10 years of experience matching suppliers on Mr-world.com and overseas buyers.</p>
			</div>
		</div>
		<div class="uk-panel">
			<img src="<%= assetsPath %>/global/images/index_learn_more/business_img1.jpg">
			<div>
				<h1 class="uk-h2 uk-text-center">Mr-world Buyer Club</h1>
				<p>
					Member Business Matching Activity<br>
					Worry-Free to Visit Chinese Supplier<br>
					Get First-hand Industrial Trend Information in China<br>
				</p>
			</div>
		</div>
		<div class="uk-panel">
			<div class="uk-container-cneter">
				<h1 class="uk-h2 uk-text-center">Offline Activities</h1>
				<p class="uk-text-center">
					Procurement Party and Night Cruise<br>
					Industrial Clusters Investigation<br>
					Brand Release Conference<br>
				</p>
			</div>
		</div>
		<div class="uk-panel">
			<img src="<%= assetsPath %>/global/images/index_learn_more/business_img2.jpg">
			<div>
				<h1 class="uk-h2 uk-text-center">Buying Request Center</h1>
				<p>
					Get Quotes for Your Custom request<br>
					Let Suitable Supplier Find You<br>
					Close Deal with One Click<br>
				</p>
			</div>
		</div>
		<div class="uk-panel">
			<div class="uk-container-center">
				<h1>FAQ:</h1>
				<dl class="qu-an">
					<dt><i class="lh-icon-yellow-man"></i>What regions does Mr World's Inspection Service cover? </dt>
					<dd><i class="lh-icon-green-man"></i>All regions within mainland China.</dd>
					<dt><i class="lh-icon-yellow-man"></i>Who could I appeal to for help when I run into problems when using Inspection Service? </dt>
					<dd><i class="lh-icon-green-man"></i>You can always contact online customer service or email us to seek assistance. Our Customer Service Team will help you with any concerns you may have.</dd>
					<dt><i class="lh-icon-yellow-man"></i>What if I am unsatisfied with the inspection? </dt>
					<dd><i class="lh-icon-green-man"></i>If you are unsatisfied with the inspection, you can file a dispute against the Inspection Service or you can submit a refund request to the inspector.</dd>
				</dl>
			</div>
		</div>
	</div>

	<% include ./components/footer-en.html %>
	<% include ./block/js.html %>
	<script type="text/javascript" src="<%= assetsPath %>/cms/js/business.js"></script>

</body>
</html>