<!DOCTYPE html>
<html>
<head>
	<% include ./block/head.html %>
	<link rel="stylesheet" type="text/css" href="<%= assetsPath %>/cms/css/escrow.css">
</head>
<body>
	<% include ./components/header.html %>
	<div class="uk-container-center">
		<div class="uk-panel">
			<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_banner.png">
		</div>
		<div class="uk-panel">
			<h1 class="uk-h2 uk-text-center">1.What is Mr-world Escrow Service?</h1>
			<p>
				 Mr-world Escrow Service is a financial arrangement where Mr-world holds and regulates payment of the funds required for two parties involved in a given
				 <span class="j-text-ellis">...</span>
				 <span class="j-more-text">
				 	transaction. It helps make transactions more secure by keeping the payment in a secure escrow account which is only released when all of the terms of an agreement are met as overseen by Mr-world.
				 </span>
				<a href="javascript:;" class="j-see-more">see more>></a>
			</p>
			<h2 class="uk-h4">
				<i class="lh-icon-deal-holds"></i>
				MR-WORLD holds the payment during the transaction
			</h2>
			<h2 class="uk-h4">
				<i class="lh-icon-deal-order"></i>
				MR-WORLD releases the payment after the buyer confirms the delivery of their order(s)
			</h2>
			<p>
				<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_img1.jpg">
			</p>
		</div>
		<div class="uk-panel">
			<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_img3.jpg">
			<div class="uk-container-center escrow-service">
				<h1 class="uk-text-center">2.Why you have to choose Mr-world Escrow Service?</h1>
				<ul class="uk-clearfix">
					<li class="uk-float-left"><i></i>Removes any risk in the transaction of Mr-world (No Chargeback, No Fraud) Escrow</li>
					<li class="uk-float-left"><i></i>Knowing clear in every step of your transaction</li>
					<li class="uk-float-left"><i></i>Refund & Return </li>
					<li class="uk-float-left"><i></i>24-7 customer service</li>
				</ul>
			</div>
		</div>
		<div class="uk-panel">
			<div class="uk-container-center">
				<h1 class="uk-text-center">3.What kind of payment method are available?</h1>
				<ul class="uk-clearfix">
					<li class="uk-text-center uk-float-left">
						<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_deal1.jpg"><br>
						<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_img4.jpg">
					</li>
					<li class="uk-text-center uk-float-left">
						<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_deal2.jpg"><br>
						<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_img5.jpg">
					</li>
					<li class="uk-text-center uk-float-left">
						<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_deal3.jpg"><br>
						<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_img6.jpg">
					</li>
				</ul>
			</div>
		</div>
		<div class="uk-panel">
			<img src="<%= assetsPath %>/global/images/index_learn_more/escrow_img7.jpg">
		</div>
		<div class="uk-panel">
			<div class="uk-container-center">
				<h1 class="uk-text-center">Start Your Safety Transaction Now!</h1>
				<a href="/" class="uk-button uk-button-primary uk-button-large">GO NOW>></a>
				<h1>FAQ:</h1>
				<dl class="qu-an uk-clearfix">
					<dt class="uk-width-1-2 uk-float-left"><i class="lh-icon-yellow-man"></i>1.Is safe to use Escrow Service?</dt>
					<dt class="uk-width-1-2 uk-float-left"><i class="lh-icon-yellow-man"></i>2.Who pays for currency conversion rate? </dt>
					<dd class="uk-width-1-2 uk-float-left"><i class="lh-icon-green-man"></i>Definitely. You and your transaction are protected every step of the process, thanks to our stringent logging, tracking, and verification procedures.</dd>
					<dd class="uk-width-1-2 uk-float-left"><i class="lh-icon-green-man"></i>The Buyer and Seller accept all responsibility in regard to gains or losses due to currency conversion rates while the funds are held in escrow.</dd>
					<p class="uk-width-1-1 uk-float-left">
						<a href="https://www.escrow.com/what-is-escrow">If you want to learn more, please click here>></a>
					</p>
				</dl>
			</div>
		</div>
	</div>

	<% include ./components/footer-en.html %>
	<% include ./block/js.html %>
	<script type="text/javascript" src="<%= assetsPath %>/cms/js/escrow.js"></script>

</body>
</html>