<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= base.name %> - <%= config.title %></title>

  <% include ../block/head.html %>

  <link href="<%= assetsPath %>/cms/css/industrial/index.css" rel="stylesheet" type="text/css">

</head>
<body>

<% include ../components/header-en.html %>
<% include ../block/industrial-nav.html %>
<div class="uk-container uk-container-center uk-margin-top">
    <div class="top-screen uk-container uk-container-center uk-flex">
            <div class="rotate j-silde">
              <div class="bd">
                <ul>
                  <li><a href="javascript:;"><img src="<%= assetsPath %>/global/images/logo_en.jpg"></a></li>
                  <li><a href="javascript:;"><img src="<%= assetsPath %>/global/images/logo_en.jpg"></a></li>
                  <li><a href="javascript:;"><img src="<%= assetsPath %>/global/images/logo_en.jpg"></a></li>
                  <li><a href="javascript:;"><img src="<%= assetsPath %>/global/images/logo_en.jpg"></a></li>
                  <li><a href="javascript:;"><img src="<%= assetsPath %>/global/images/logo_en.jpg"></a></li>
                </ul>
              </div>
              <div class="hd">
                <ul class="uk-flex">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>



</div>

<% include ../components/footer-en.html %>

</body>
</html>
