<!--专业镇 内容页-->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= base.name %> - <%= config.title %></title>

  <% include ./block/head.html %>
  <link href="<%= assetsPath %>/IndustrialCluster/css/home.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/index.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/p/home.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/professionaltown.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/p/brandType.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/zhuanyezhen.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/zzsc.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/electricbusinesspark.css" rel="stylesheet" type="text/css">
</head>
<body>

<% include ./components/header.html %>
<% include ./block/industrial-nav.html %>

<div class="electric-business-park">
    <div class="ban">
      <img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkPhoto1.jpg">
    </div>
    <div class="sch">
      <div class="ti">
        <span class="sc">电商学院</span>
      </div>
      <div class="de">
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="tw"></span></a>
        <a href="#"><span class="th"></span></a>
        <a href="#"><span class="fo"></span></a>
        <a href="#"><span class="fi"></span></a>
        <a href="#"><span class="si"></span></a>
        <a href="#"><span class="se"></span></a>
        <a href="#"><span class="ei"></span></a>
      </div>
    </div>

    <div class="po">
      <div class="ti">运营推广机构</div>
      <div class="co">
        <div class="le">
          <div class="uni">
          <div class="tl">星光设计有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">欧陆信息科技有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">心菲悦网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">广州天韵网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">星光设计有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">欧陆信息科技有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">心菲悦网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">广州天韵网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>

          <div class="til"><span class="te">装修设计机构</span></div>
          <div class="uni">
          <div class="tl">星光设计有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">欧陆信息科技有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">心菲悦网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">广州天韵网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">星光设计有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">欧陆信息科技有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">心菲悦网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">广州天韵网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="til"><span class="te">产品摄影机构</span></div>
          <div class="uni">
          <div class="tl">星光设计有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">欧陆信息科技有限公司</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">心菲悦网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">广州天韵网络</div>
          <div class="ct">运营托管机构，历时5年的发展。现今，历经多元品牌托管服务，精简至战略合作伙伴式合作模式，从加法到减法，完成蜕变。</div>
          <div class="bt">
            <span>地址：广州市天河区珠江新城</span>
            <span>联系人：四先生</span>
            <span>电话：020-12345678</span>
          </div>
          </div>
        </div>
        <div class="ri">
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce1.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce2.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce3.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce4.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce5.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce6.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce7.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce8.jpg"></a>
        </div>
      </div>
    </div>

    <div class="ins">
      <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkLogo1.jpg"></a>
      <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkLogo2.jpg"></a>
      <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkLogo3.jpg"></a>
      <a href="#" class="ed"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkLogo4.jpg"></a>
    </div>

</div>

<% include ./components/footer.html %>
</body>
</html>
