<!DOCTYPE html>
<html>
<head>
	<% include ./block/head.html %>
	<link rel="stylesheet" type="text/css" href="<%= assetsPath %>/cms/css/inspection.css">
</head>
<body>
	<% include ./components/header.html %>
	<div class="uk-container-center">
		<div class="uk-panel inspection-banner">
			<img src="<%= assetsPath %>/global/images/index_learn_more/detection_banner.jpg">
			<h1 class="j-text-left">Inspection Service</h1>
			<h2 class="j-text-right">
				<p>Reliable Worldwide Inspector</p>
				<p>Guaranteed Inspection Service</p>
				<p class="left-border"></p>
				<p class="right-border"></p>
			</h2>
		</div>
		<div class="uk-panel">
			<div class="uk-container-center uk-clearfix">
				<div class="uk-float-left">
					<h1>1.Do you know Mr-World's Inspection Service?</h1>
					<span>
						With Inspection Service, you can order services from professional and independent third-party inspectors or inspection companies directly online listed on our platform. <br/><br/>
						The inspector will visit the manufacturing and/or port facilities anywhere in China and provide reports including pictures, to certify that the goods being produced and shipped meet the quality standards specified in your contact.
					</span>
				</div>
				<p class="uk-float-right">
					<img src="<%= assetsPath %>/global/images/index_learn_more/detection_img1.jpg">
				</p>
			</div>
		</div>
		<div class="uk-panel">
			<div class="uk-container-center uk-clearfix">
				<p class="uk-float-left">
					<img src="<%= assetsPath %>/global/images/index_learn_more/detection_img2.jpg">
				</p>
				<div class="uk-float-right">
					<h1>2.Do you know Mr-world's Inspection Service?</h1>
					<span>
						Affordable & Reliable Inspectors <br/><br/>
						Secure Online Payment <br/><br/>
						Inspection Quality Guaranteed 
					</span>
					</div>
				</div>
			</div>
		<div class="uk-panel">
			<div class="uk-container-center uk-clearfix">
				<h1>3 Do you know what kind of service Mr-world could offer?</h1>
				<p>
					<img src="<%= assetsPath %>/global/images/index_learn_more/detection_img3.jpg">
				</p>
			</div>
		</div>
		<div class="uk-panel">
			<div class="uk-container-center uk-clearfix">
				<div class="uk-float-left">
					<h1>4.Do you know the process of Mr-world Inspection Service?</h1>
					<ul class="step">
						<li>
							<p>1</p>
							Buyer orders inspection service
						</li>
						<li>
							<p>2</p>
							buyer pays secure payment
						</li>
						<li>
							<p>3</p>
							Inspector uploads report after inspection
						</li>
						<li>
							<p>4</p>
							buyer confirms report – Inspector receives payment
						</li>
					</ul>
				</div>
				<p class="uk-float-right">
					<img src="<%= assetsPath %>/global/images/index_learn_more/detection_img4.jpg">
				</p>
			</div>
		</div>
		<div class="uk-panel">
			<div class="uk-clearfix uk-container-center">
				<h1>Certification</h1>
				<ul class="certification uk-clearfix">
					<li class="uk-float-left"></li>
					<li class="uk-float-left"></li>
					<li class="uk-float-left"></li>
					<li class="uk-float-left"></li>
					<li class="uk-float-left"></li>
				</ul>
				<h1>FAQ:</h1>
				<dl class="qu-an">
					<dt><i class="lh-icon-yellow-man"></i>What regions does Mr World's Inspection Service cover? </dt>
					<dd><i class="lh-icon-green-man"></i>All regions within mainland China.</dd>
					<dt><i class="lh-icon-yellow-man"></i>Who could I appeal to for help when I run into problems when using Inspection Service? </dt>
					<dd><i class="lh-icon-green-man"></i>You can always contact online customer service or email us to seek assistance. Our Customer Service Team will help you with any concerns you may have.</dd>
					<dt><i class="lh-icon-yellow-man"></i>What if I am unsatisfied with the inspection? </dt>
					<dd><i class="lh-icon-green-man"></i>If you are unsatisfied with the inspection, you can file a dispute against the Inspection Service or you can submit a refund request to the inspector.</dd>
				</dl>
			</div>
			
		</div>
	</div>
	<% include ./components/footer-en.html %>
	<% include ./block/js.html %>
	<script type="text/javascript" src="<%= assetsPath %>/cms/js/inspection.js"></script>

</body>
</html>