<!--首页-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>买家保护</title>

  <% include ./block/head.html %>
  <link rel="stylesheet" href="<%= assetsPath %>/cms/css/index.css">
  <link rel="stylesheet" href="<%= assetsPath %>/cms/css/protect.css">

</head>
<body>

  <% include ./components/header.html %>
 <div class="top">
    <img src="<%= assetsPath %>/global/images/protect/protect1.jpg" alt="">
    <div class="msg"> <h1>Mr-world Buyer Protection</h1>
    <h5>Mr-world is committed to promoting and providing a safe and fair trading environment to all users.</h5></div>
 </div>
  <div class="supplier-indent">
  <img src="<%= assetsPath %>/global/images/protect/protect2.png" alt="">
  <div>
    <h1>Supplier Identify</h1>
    <ul>
      <li><img src="<%= assetsPath %>/global/images/protect/ident1.jpg" alt=""> <p>High Entry Threshold</p></li>
      <li><img src="<%= assetsPath %>/global/images/protect/ident2.jpg" alt=""><p>Verified Supplier</p></li>
      <li><img src="<%= assetsPath %>/global/images/protect/ident3.jpg" alt=""><p>Field Certification</p></li>
    </ul>
    </div>
  </div>
  <div class="escrow">
  <img src="<%= assetsPath %>/global/images/protect/escrow.jpg" alt="">
  <ul>
  <li><p>place orders confidently an securely via our escrow service</p></li>
  <li><p><img src="<%= assetsPath %>/global/images/protect/protect-icon1.png" alt="">Safety Transaction Environment</p></li>
  <li><p><img src="<%= assetsPath %>/global/images/protect/protect-icon1.png" alt="">Refund & Return</p></li>
  <li><p><img src="<%= assetsPath %>/global/images/protect/protect-icon1.png" alt="">Safety Transaction Environment</p></li>
  <li><a href="http://www.escrow.com">If you to learn more, please click here>></a></li>
  </ul>
  </div>
  <div class="inspect">
  <h1>Inspection Service</h1>
<div class="btn">
<span><img src="<%= assetsPath %>/global/images/protect/protect-icon2.png" alt="">Reliable Worldwide Inspector</span>
<span><img src="<%= assetsPath %>/global/images/protect/protect-icon3.png" alt="">Guaranteed Inspection Service</span>
</div>
<div class="inspect-img"><img src="<%= assetsPath %>/global/images/protect/inspect1.jpg" alt="" class="ispect1"><img src="<%= assetsPath %>/global/images/protect/inspect2.jpg" alt=""></div>
  </div>
		 <div class="inspect">
  <h1>Logistics Service</h1>
<div class="btn">
<span><img src="<%= assetsPath %>/global/images/protect/protect-icon4.png" alt="">In-time Tracking Information</span>
<span><img src="<%= assetsPath %>/global/images/protect/protect-icon5.png" alt="">Guaranteed Service Delivery</span>
</div>
<div class="inspect-img"><img src="<%= assetsPath %>/global/images/protect/logistic1.jpg" alt="" class="ispect1"><img src="<%= assetsPath %>/global/images/protect/logistic2.jpg" alt=""></div>
  </div>
<div class="bottom">
  <img src="<%= assetsPath %>/global/images/protect/bottom-bg.jpg" alt="">
  <div>
  <h1>After-sale Service</h1>
  <ul>
      <li><img src="<%= assetsPath %>/global/images/protect/bottom1.png" alt=""> <p>24-7 After-sale Online Service</p></li>
      <li><img src="<%= assetsPath %>/global/images/protect/bottom2.png" alt=""><p>Trade Dispute Settlement Center</p></li>
      <li><img src="<%= assetsPath %>/global/images/protect/bottom3.png" alt=""><p>More suggestion for Mr-world? <a href="">Please click here>></a></p></li>
    </ul>
    </div>
</div>
  
  <% include ./components/footer-en.html %>
  <% include ./block/js.html %>
   

</body>
</html>
